{% extends 'base.html.twig' %}

{% block title %}sym-ecommerce - Add product
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Add a new product</h1>
		{{ form(form) }}
		</div>
	{% endblock %}
